body {
  font-family: "Cantata One", serif;
  font-weight: 400;
  min-height: 100vh;
  margin: 0;
}

/* psuedo element so that background stays fixed and content scrolls */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
  pointer-events: none;
}

/* styles for main return of all components */
.div-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;
  padding-top: 20px;
}

/* styles for form fields */
.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding-top: 20px;
}

/* styles for input fields */
.form-container input {
  padding: 5px 8px;
  border-radius: 5px;
  transition: border 0.2s ease;
  text-align: center;
  font-family: inherit;
}

.form-container input:focus {
  border: 2px solid red;
}

label {
  color: white;
}

/* styles for buttons and anchor tags */
.form-container button,
button {
  padding: 5px 8px;
  transition: box-shadow 0.2s ease;
  font-family: inherit;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

a {
  transition: box-shadow 0.2s ease;
  color: white;
  font-weight: bolder;
  cursor: pointer;
}

.form-container button:hover,
button:hover,
a:hover {
  box-shadow: 0 0 10px 5px red;
}

/* styles for data fetched from api and liked events*/
.data {
  color: white;
  font-weight: bolder;
  max-width: 700px;
  line-height: 1.6;
  padding: 20px;
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  text-align: left;
}

/* media queries for responsiveness */
@media (max-width:500px) {
  .heading {
    font-size: 1.5rem;
  }
}